@use "variables" as v;

header {
  background-image: url(/assets/images/mobile/image-header.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 63rem;

  nav {
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;

    figure img {
      transition: 0.2s ease-in-out;

      &:hover {
        filter: invert(59%) sepia(98%) saturate(2594%) hue-rotate(344deg)
          brightness(101%) contrast(104%);
      }
    }

    .menu button {
      border: none;
      background: none;
    }

    ul {
      gap: 2.5rem;
      align-items: center;

      a {
        color: v.$wt;
        font-size: clamp(1.35rem, 1.3rem + 0.65vw, 1.55rem);
        transition: 0.2s ease-in-out;

        &:hover {
          opacity: 0.65;
        }

        &.contact {
          color: v.$vr-dk-des-blue;
          font-family: "Fraunces", serif;
          display: inline-block;
          background-color: v.$wt;
          padding: 1.75rem 2rem;
          border-radius: 3rem;
          transition: 0.2s ease-in-out;

          &:hover {
            opacity: 1;
            color: v.$wt;
            background-color: hsl(0, 0%, 100%, 0.2);
          }
        }
      }
    }
  }

  .home {
    margin-top: 7.5rem;
    text-align: center;
    h1 {
      font-size: clamp(3rem, 1.9rem + 3.6vw, 6.375rem);
      color: v.$wt;
      font-family: "Fraunces", serif;
      letter-spacing: 0.6rem;
      font-weight: 900;
    }
    img {
      margin-top: 8rem;
    }
  }
}

.features {
  text-align: center;

  &__content-transform {
    margin-top: 6rem;
    flex-direction: column;
    h2 {
      font-family: "Fraunces", serif;
      font-size: clamp(3.88rem, 1.93rem + 2.39vw, 6.125rem);
      color: v.$vr-dk-des-blue;
      font-weight: 900;
    }

    p {
      padding: 1.5rem;
      font-size: clamp(1.5rem, 1.5rem + 0.8vw, 1.9rem);
      margin-top: 1.75rem;
      color: v.$dk-gyish-blue;
      font-weight: 500;
      line-height: 2.8rem;
    }

    a {
      color: v.$vr-dk-des-blue;
      font-size: 1.75rem;
      font-family: "Fraunces", serif;
      font-weight: 700;
      margin-top: 3rem;
      display: inline-block;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 14rem;
        height: 1rem;
        border-radius: 1rem;
        background-color: v.$yellow;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 35%);
        z-index: -1;
        opacity: 0.4;
        transition: 0.2s ease-in-out;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }

  &__image-standout {
    margin-top: 7rem;
  }

  &__content-standout {
    margin-top: 6rem;
    flex-direction: column;
    h2 {
      font-family: "Fraunces", serif;
      font-size: clamp(3.8875rem, 1.5rem + 2.5vw, 6rem);
      color: v.$vr-dk-des-blue;
      font-weight: 900;
    }

    p {
      padding: 3rem;
      font-size: 1.8rem;
      color: v.$dk-gyish-blue;
      font-weight: 500;
      line-height: 2.8rem;
      margin-top: 1.75rem;
    }

    a {
      color: v.$vr-dk-des-blue;
      font-size: 1.75rem;
      font-family: "Fraunces", serif;
      font-weight: 700;
      margin-top: 3rem;
      display: inline-block;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 14rem;
        height: 1rem;
        border-radius: 1rem;
        background-color: v.$sft-red;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 35%);
        z-index: -1;
        opacity: 0.4;
        transition: 0.2s ease-in-out;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }

  &__cherry {
    margin-top: 6rem;
    color: v.$dk-des-cyan;
    background-image: url(/assets/images/mobile/image-graphic-design.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 65rem;
    h2 {
      font-size: clamp(3rem, 1.93rem + 3.4vw, 3.2rem);
      font-family: "Fraunces", serif;
      font-weight: 900;
    }
    p {
      font-size: clamp(0.25rem, 1rem + 0.935vw, 1.7rem);
      font-weight: 600;
      line-height: 2.5rem;
      padding: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }

  &__orange {
    color: v.$dk-blue;
    background-image: url(/assets/images/mobile/image-photography.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 65rem;
    h2 {
      font-size: clamp(3rem, 1.93rem + 3.4vw, 3.2rem);
      font-family: "Fraunces", serif;
      font-weight: 900;
    }
    p {
      font-size: clamp(0.25rem, 1rem + 0.935vw, 1.7rem);
      font-weight: 600;
      line-height: 2.5rem;
      padding: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }
}

.testimonials {
  margin-top: 5rem;
  text-align: center;
  h2 {
    font-size: clamp(1rem, 1.93rem + 3.4vw, 1.8rem);
    color: v.$dk-gyish-blue;
    font-family: "Fraunces", serif;
    letter-spacing: 0.4rem;
    margin-bottom: 5.5rem;
  }

  &__container {
    gap: 6.25rem;

    &-card {
      box-shadow: 1px 3px 8px 2px rgba(197, 197, 197, 0.1);
      padding: 3.5rem 0;
      width: 90%;
      margin: 0 auto;
      img {
        width: 5.3rem;
        border-radius: 50%;
      }
      p {
        padding: 2rem 5rem;
        color: v.$vr-dk-gyish-blue;
        font-size: clamp(0.35rem, 0.9rem + 1.1vw, 1.75rem);
        line-height: 2.6rem;
      }
      span {
        display: block;
        &.name {
          font-family: "Fraunces", serif;
          font-size: clamp(0.35rem, 0.9rem + 1.1vw, 1.75rem);
          font-weight: 700;
        }
        &.role {
          margin-top: 0.55rem;
          color: v.$gyish-blue;
          font-size: clamp(0.25rem, 0.9rem + 1.1vw, 1.395rem);
        }
      }
    }
  }
}

.image-square {
  margin-top: 7rem;
  grid-template-columns: repeat(2, 1fr);

  .image-size {
    height: 19rem;
  }

  .bg-properties {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-milk-bottles {
    background-image: url(/assets/images/mobile/image-gallery-milkbottles.jpg);
  }

  &-orange {
    background-image: url(/assets/images/mobile/image-gallery-orange.jpg);
  }

  &-ice-cream-cone {
    background-image: url(/assets/images/mobile/image-gallery-cone.jpg);
  }

  &-sugar-cubes {
    background-image: url(/assets/images/mobile/image-gallery-sugar-cubes.jpg);
  }
}

footer {
  text-align: center;
  background-color: v.$lt-cyan;
  padding: 6rem 3rem;

  nav {
    margin-top: 3rem;
    ul {
      gap: 2rem;
      justify-content: center;
      align-items: center;
      li a {
        font-size: 1.5rem;
        color: v.$dk-des-cyan;
        transition: 0.2s ease-in-out;

        &:hover {
          color: v.$wt;
        }
      }
    }
  }

  .footer__social {
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;

    img {
      transition: 0.2s ease-in-out;

      &:hover {
        filter: brightness(0) invert(1);
      }
    }
  }
}
