*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Barlow', sans-serif;
  // font-family: 'Fraunces', serif;
  // * use on need in * style.scss *
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
}
