$sft-red: hsl(7, 99%, 70%); // for hover on cup text
$yellow: hsl(51, 100%, 49%); // for hover on egg text
$dk-des-cyan: hsl(167, 40%, 24%); //text color on cherry
$dk-blue: hsl(198, 62%, 26%); // text color on Orange
$dk-lt-cyan: hsl(168, 34%, 41%); // footer background OR text
$vr-dk-des-blue: hsl(212, 27%, 19%);
$vr-dk-gyish-blue: hsl(213, 9%, 39%);
$dk-gyish-blue: hsl(232, 10%, 55%);
$gyish-blue: hsl(210, 4%, 67%);
$wt: hsl(0, 0%, 100%);