*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  max-width: 166rem;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}
a:focus-visible {
  outline: 3px dotted orange;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.features img,
.image-square img {
  width: 100%;
}

header {
  background-image: url(/assets/images/mobile/image-header.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 63rem;
}
header nav {
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;
}
header nav figure img {
  transition: 0.2s ease-in-out;
}
header nav figure img:hover {
  filter: invert(59%) sepia(98%) saturate(2594%) hue-rotate(344deg) brightness(101%) contrast(104%);
}
header nav .menu button {
  border: none;
  background: none;
}
header nav ul {
  gap: 2.5rem;
  align-items: center;
}
header nav ul a {
  color: white;
  font-size: clamp(1.35rem, 1.3rem + 0.65vw, 1.55rem);
  transition: 0.2s ease-in-out;
}
header nav ul a:hover {
  opacity: 0.65;
}
header nav ul a.contact {
  color: #23303e;
  font-family: "Fraunces", serif;
  display: inline-block;
  background-color: white;
  padding: 1.75rem 2rem;
  border-radius: 3rem;
  transition: 0.2s ease-in-out;
}
header nav ul a.contact:hover {
  opacity: 1;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}
header .home {
  margin-top: 7.5rem;
  text-align: center;
}
header .home h1 {
  font-size: clamp(3rem, 1.9rem + 3.6vw, 6.375rem);
  color: white;
  font-family: "Fraunces", serif;
  letter-spacing: 0.6rem;
  font-weight: 900;
}
header .home img {
  margin-top: 8rem;
}

.features {
  text-align: center;
}
.features__content-transform {
  margin-top: 6rem;
  flex-direction: column;
}
.features__content-transform h2 {
  font-family: "Fraunces", serif;
  font-size: clamp(3.88rem, 1.93rem + 2.39vw, 6.125rem);
  color: #23303e;
  font-weight: 900;
}
.features__content-transform p {
  padding: 1.5rem;
  font-size: clamp(1.5rem, 1.5rem + 0.8vw, 1.9rem);
  margin-top: 1.75rem;
  color: #818498;
  font-weight: 500;
  line-height: 2.8rem;
}
.features__content-transform a {
  color: #23303e;
  font-size: 1.75rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  margin-top: 3rem;
  display: inline-block;
  position: relative;
}
.features__content-transform a::before {
  content: "";
  position: absolute;
  width: 14rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #fad400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 35%);
  z-index: -1;
  opacity: 0.4;
  transition: 0.2s ease-in-out;
}
.features__content-transform a:hover::before {
  opacity: 1;
}
.features__image-standout {
  margin-top: 7rem;
}
.features__content-standout {
  margin-top: 6rem;
  flex-direction: column;
}
.features__content-standout h2 {
  font-family: "Fraunces", serif;
  font-size: clamp(3.8875rem, 1.5rem + 2.5vw, 6rem);
  color: #23303e;
  font-weight: 900;
}
.features__content-standout p {
  padding: 3rem;
  font-size: 1.8rem;
  color: #818498;
  font-weight: 500;
  line-height: 2.8rem;
  margin-top: 1.75rem;
}
.features__content-standout a {
  color: #23303e;
  font-size: 1.75rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  margin-top: 3rem;
  display: inline-block;
  position: relative;
}
.features__content-standout a::before {
  content: "";
  position: absolute;
  width: 14rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #fe7867;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 35%);
  z-index: -1;
  opacity: 0.4;
  transition: 0.2s ease-in-out;
}
.features__content-standout a:hover::before {
  opacity: 1;
}
.features__cherry {
  margin-top: 6rem;
  color: #25564b;
  background-image: url(/assets/images/mobile/image-graphic-design.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 65rem;
}
.features__cherry h2 {
  font-size: clamp(3rem, 1.93rem + 3.4vw, 3.2rem);
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.features__cherry p {
  font-size: clamp(0.25rem, 1rem + 0.935vw, 1.7rem);
  font-weight: 600;
  line-height: 2.5rem;
  padding: 2.5rem;
  margin-bottom: 2.5rem;
}
.features__orange {
  color: #19536b;
  background-image: url(/assets/images/mobile/image-photography.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 65rem;
}
.features__orange h2 {
  font-size: clamp(3rem, 1.93rem + 3.4vw, 3.2rem);
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.features__orange p {
  font-size: clamp(0.25rem, 1rem + 0.935vw, 1.7rem);
  font-weight: 600;
  line-height: 2.5rem;
  padding: 2.5rem;
  margin-bottom: 2.5rem;
}

.testimonials {
  margin-top: 5rem;
  text-align: center;
}
.testimonials h2 {
  font-size: clamp(1rem, 1.93rem + 3.4vw, 1.8rem);
  color: #818498;
  font-family: "Fraunces", serif;
  letter-spacing: 0.4rem;
  margin-bottom: 5.5rem;
}
.testimonials__container {
  gap: 6.25rem;
}
.testimonials__container-card {
  box-shadow: 1px 3px 8px 2px rgba(197, 197, 197, 0.1);
  padding: 3.5rem 0;
  width: 90%;
  margin: 0 auto;
}
.testimonials__container-card img {
  width: 5.3rem;
  border-radius: 50%;
}
.testimonials__container-card p {
  padding: 2rem 5rem;
  color: #5a636c;
  font-size: clamp(0.35rem, 0.9rem + 1.1vw, 1.75rem);
  line-height: 2.6rem;
}
.testimonials__container-card span {
  display: block;
}
.testimonials__container-card span.name {
  font-family: "Fraunces", serif;
  font-size: clamp(0.35rem, 0.9rem + 1.1vw, 1.75rem);
  font-weight: 700;
}
.testimonials__container-card span.role {
  margin-top: 0.55rem;
  color: #a7abae;
  font-size: clamp(0.25rem, 0.9rem + 1.1vw, 1.395rem);
}

.image-square {
  margin-top: 7rem;
  grid-template-columns: repeat(2, 1fr);
}
.image-square .image-size {
  height: 19rem;
}
.image-square .bg-properties {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.image-square-milk-bottles {
  background-image: url(/assets/images/mobile/image-gallery-milkbottles.jpg);
}
.image-square-orange {
  background-image: url(/assets/images/mobile/image-gallery-orange.jpg);
}
.image-square-ice-cream-cone {
  background-image: url(/assets/images/mobile/image-gallery-cone.jpg);
}
.image-square-sugar-cubes {
  background-image: url(/assets/images/mobile/image-gallery-sugar-cubes.jpg);
}

footer {
  text-align: center;
  background-color: #7dc5b6;
  padding: 6rem 3rem;
}
footer nav {
  margin-top: 3rem;
}
footer nav ul {
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
footer nav ul li a {
  font-size: 1.5rem;
  color: #25564b;
  transition: 0.2s ease-in-out;
}
footer nav ul li a:hover {
  color: white;
}
footer .footer__social {
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}
footer .footer__social img {
  transition: 0.2s ease-in-out;
}
footer .footer__social img:hover {
  filter: brightness(0) invert(1);
}

@media only screen and (min-width: 470px) {
  .image-square .image-size {
    height: 23rem;
  }
}
@media only screen and (min-width: 545px) {
  header {
    background-image: url(/assets/images/desktop/image-header.jpg);
    background-position: top;
    height: 65rem;
  }
}
@media only screen and (min-width: 566px) {
  .features__cherry, .features__orange {
    height: 72rem;
  }

  .image-square .image-size {
    height: 26rem;
  }
}
@media only screen and (min-width: 646px) {
  .features__cherry, .features__orange {
    height: 84rem;
  }

  .image-square .image-size {
    height: 31rem;
  }
}
@media only screen and (min-width: 768px) {
  header {
    height: 70rem;
  }

  nav .menu {
    display: none;
  }
  nav .hidden {
    display: block;
  }
}
@media only screen and (min-width: 800px) {
  .features__cherry, .features__orange {
    height: 89rem;
  }

  .image-square .image-size {
    height: 35rem;
  }
}
@media only screen and (min-width: 870px) {
  body .padding {
    padding: 0;
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
  }
  .features__image-transform {
    order: -1;
  }
  .features .order {
    order: -2;
  }
  .features__content-transform, .features__content-standout {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }
  .features .margin-top {
    margin-top: 0;
  }
  .features__cherry {
    background-image: url(/assets/images/desktop/image-graphic-design.jpg);
    height: 43rem;
  }
  .features__orange {
    background-image: url(/assets/images/desktop/image-photography.jpg);
    height: 43rem;
  }

  .testimonials__container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .testimonials__container h2 {
    margin-bottom: 2.5rem;
  }
  .testimonials__container p {
    margin: 3rem 0 3rem 0;
  }

  .image-square {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .image-square-milk-bottles {
    background-image: url(/assets/images/desktop/image-gallery-milkbottles.jpg);
  }
  .image-square-orange {
    background-image: url(/assets/images/desktop/image-gallery-orange.jpg);
  }
  .image-square-ice-cream-cone {
    background-image: url(/assets/images/desktop/image-gallery-cone.jpg);
  }
  .image-square-sugar-cubes {
    background-image: url(/assets/images/desktop/image-gallery-sugarcubes.jpg);
  }
}
@media only screen and (min-width: 870px) and (max-width: 938px) {
  .features__cherry p,
.features__orange p {
    padding: 2.5rem 4rem;
  }
}
@media only screen and (min-width: 947px) {
  .features__orange p {
    padding: 2.5rem 9rem;
  }
}
@media only screen and (min-width: 1027px) {
  .features__cherry, .features__orange {
    height: 45rem;
  }

  .features__orange p {
    padding: 2.5rem 9rem;
  }
}
@media only screen and (min-width: 1100px) {
  .features__cherry, .features__orange {
    height: 50rem;
  }
}
@media only screen and (min-width: 1245px) {
  .features__cherry, .features__orange {
    height: 55rem;
  }
}
@media only screen and (min-width: 1360px) {
  header {
    background-position: center;
  }
}
@media only screen and (min-width: 1440px) {
  header nav {
    padding: 3rem 7rem;
  }
}